fastapi
uvicorn
sqlalchemy[asyncio]
aiomysql
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
playwright
discord.py
openai
gspread
oauth2client
slack_sdk
apscheduler
python-dotenv
pytest
pytest-asyncio
google-genai
